<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hey, I'm Teja.</h1>
      <h3 class="section-subheading">I'm an enthusiast in the field of machine learning and artificial intelligence. Interested in solving vision or image related problems with machine learning and artificial intelligence.</h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/headshot.jpg" alt="headshot">
        <div class="about-text-wrapper">
          <p class="about-text"><strong>I'm a graduate student at University of Maryland,</strong> College Park studying M.Eng in Robotics. I am interested in working on the applications of machine learning and artificial intelligence. I have experience working on image processing algorithms both the classical and the deep learning methods.</p>
          <p class="about-text">I am highly motivated and proactive at developing my knowledge and experiencing new things. Over the past year, I have been into Machine Learning and Artificial Intelligence. It amazed me and so most of my course work has been in relation to that. I cannot put into words how excited I am about the application of machine learning and AI in various fields and the ways in which it can imporve.</p>
          <p class="about-text"><strong>When I'm not in front of a computer screen,</strong> I'm probably travelling, cooking, or playing sports.</p>
        </div>
      </div>
    </div>
  </div>
</section>
