<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hey, I'm Teja.</h1>
      <h3 class="section-subheading">I'm an enthusiast in the field of machine learning and artificial intelligence. What interests me is stimulating problems that require computer vision or image-related methodologies using ML and AI concepts.</h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/headshot.jpg" alt="headshot">
        <div class="about-text-wrapper">
          <p class="about-text"><strong>I'm a graduate student of M.Eng. in Robotics at the University of Maryland, College Park.</strong> I am interested in working on the applications of machine learning. I have experience with working on image processing algorithms, both the classical and the deep learning methods.</p>
          <p class="about-text"> I am highly motivated and proactive at developing my knowledge and in advancing my experience. Over the past year, I have dived my expertise in the pool of ML and AI. Since I find these concepts extremely inquisitive, most of my course work is related to this field. I cannot put into words how excited I am about the application of robotics in various areas and how it can improve the world around us.</p>
          <p class="about-text"><strong>When I'm not in front of a computer screen dipped into robotics,</strong> I'm probably traveling, cooking, or playing sports.</p>
        </div>
      </div>
    </div>
  </div>
</section>
